<!DOCTYPE html>
<html lang="et" data-ng-app="ngApp">

<head>
  <meta charset="utf-8">
  <title>rendezvous</title>
  <link rel="stylesheet" href="lib/boostrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/boostrap/themes/yeti-bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
</head>

<body data-ng-controller="AuthController">
  <nav class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="SubjectController">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"  href="/front">rendezvous</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="menuDropdown">
            <select id="subjectDropdown"
                    data-placeholder="Vali aine"
                    data-ng-model="selectedSubject"
                    data-ng-change="updateSubjectView(selectedSubject)"
                    data-ng-options="s.name for s in semesterSubjects">
            </select>
          </li>
          <li class="menuDropdown">
            <select
                    id="semesterDropdown"
                    data-ng-model="selectedSemester"
                    data-ng-change="updateSubjectDropdown(selectedSemester)"
                    data-ng-options="s.text for s in semesters">
            </select>
          </li>
          <li data-ng-show="isLoggedIn()">
            <a href="#subjects/createSubject"><span class="glyphicon glyphicon-plus"></span></a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li data-ng-show="isLoggedIn()"><a href="#config"><span class="glyphicon glyphicon-cog"></span> Seaded</a></li>
          <li data-ng-show="!isLoggedIn()"><a href="#" data-ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Logi sisse</a></li>
          <li data-ng-show="isLoggedIn()"><a href="#" data-ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logi välja</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <section  class="col-md-9" data-ng-view>

    </section>

    <aside class="col-md-3">
      <ul id="messages">

      </ul>

    </aside>
  </div>

  <script src="lib/jquery/jquery-1.10.2.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="lib/angular/angular-cookies.js"></script>
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/restangular/restangular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/TopicController.js"></script>
  <script src="js/controllers/AuthController.js"></script>
  <script src="js/controllers/LoginController.js"></script>
  <script src="js/services/UserService.js"></script>
  <script src="js/controllers/ConfigController.js"></script>
  <script src="js/controllers/SubjectController.js"></script>
  <script src="js/controllers/NewTopicController.js"></script>
  <script src="js/controllers/NewSubjectController.js"></script>
  <script src="js/services/AuthService.js"></script>
  <script src="js/services/SubjectService.js"></script>
  <script src="js/services/TopicService.js"></script>
  <script src="lib/marked/marked.js"></script>
  <script src="lib/boostrap/js/bootstrap.js"></script>
  <script src="js/topicpush.js"></script>
  <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>



</body>
</html>