**.class
**.jar
**.war
**.iml
back/.gradle/**
back/.idea/**
.idea/**
back/bin/**
back/build/**
back/db.properties
back/.classpath
back/.settings/**

front/.idea/**
front/node_modules/**
front/bower_components/**
front/build/**

**.ipr
**.iws
**.MF

