body{
  padding-top:51px;
}
a:hover {
  text-decoration:none;
}

.dropdown-menu {
  width: 100%;
}

li.menuDropdown {
  padding: 12px 5px;
}

select#subjectDropdown {
  width:300px;
}

.mainHeading {
  margin-top:40px;
}

.article-meta {
  margin: 0;
  font-size: 0.7em;
  color: #888888;
}

h3.topicTitle {
  margin-bottom: 0px;
}

hr {
  margin-top: 0;
}

#subjectNav {
  margin-bottom: 0;
}

#messages {
  list-style-type: none;
}