<div class="page-content inset">
  <form>
    <fieldset>
      <legend>
        Logi sisse (tegelikult tuleb Google'i kaudu)
      </legend>
      <div class="form-group">
        <label for="username">
          Kasutajanimi
        </label>
        <input type="text" name="username" id="username" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">
          Parool
        </label>
        <input id="password" name="password" class="form-control" type="password">
      </div>
      <button class="btn btn-primary">
        Logi sisse
      </button>
    </fieldset>
  </form>
</div>