<div class="page-content inset">
  <section class="row">
    <article>
      <header>
          <h3 class="topicTitle">
            {{activeTopic.title}}
          </h3>
        <span class="pubDate">
          postitas {{topic.author}}
          <time datetime="">{{activeTopic.datePublished | date:'yyyy-MM-dd HH:mm:ss'}}</time>
        </span>
      </header>
      <p class="articleText">
        {{activeTopic.text}}
      </p>
    </article>


    <h4 style="margin-top:40px;">
      Kommentaarid ({{activeTopic.replies.length}})
    </h4>
    <article ng-repeat="reply in activeTopic.replies | orderBy:'-upvoteCount'" class="panel panel-default">

      <div class="panel-body">
          <div class="thanksCount col-md-2">
            <p>{{reply.upvoteCount}} tänu</p>
            <button ng-disabled="disabled" class="button" ng-click="upvote(reply);disabled=true">Aitäh</button>
          </div>
        <p class="col-md-10">
          {{reply.text}}
        </p>
        </div>

      <div class="panel-footer">
        {{reply.author}}
        <span class="pubDate">
          <time datetime="">{{reply.datePublished}}</time>
        </span>
      </div>


    </article>



    <form name="replyForm">
      <fieldset>
        <legend>Vasta</legend>
          <pre>
    {{reply.text}}
</pre>
        <div class="form-group">
          <label for="topicText">Sisu</label>
          <textarea id="topicText" name="topicText" class="form-control" rows="10" ng-model="reply.text"></textarea>
        </div>
        <div class="checkbox">
          <label><input type="checkbox">Anonüümus</label>

        </div>
        <button class="btn btn-primary" ng-click="addReply(reply)">Vasta



        </button>
      </fieldset>
    </form>


  </section>
</div>