<div class="page-content inset">
  <section class="row">
    <article>
      <header>
        <h3 class="topicTitle">
          {{activeTopic.title}}
        </h3>
        <span class="pubDate">
          postitas {{activeTopic.userName}}
          <time dateTime="{{activeTopic.datePublished | date:'yyyy-MM-dd'}}">{{activeTopic.datePublished | date:'yyyy-MM-dd HH:mm'}}</time>
        </span>
      </header>
      <div class="articleText" data-ng-bind-html="activeTopic.textHtml | toTrusted"><!--TODO nopenopenope -->
      </div>
    </article>

    <h4 class="mainHeading">
      Kommentaarid ({{activeTopic.commentCount}})
    </h4>

    <article data-ng-repeat="comment in comments.replies | orderBy:'-upvoteCount'" class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-2">
          <p>{{reply.upvoteCount}} tänu</p>
          <button data-ng-disabled="disabled" class="button" data-ng-click="upvote(comment);disabled=true">Aitäh</button>
        </div>
        <p class="col-md-10">
          {{reply.text}}
        </p>
      </div>

      <div class="article-meta">
        {{comment.author}}
        <span class="pubDate">
          <time dateTime="{{comment.datePublished | date:'yyyy-MM-dd'}}">{{comment.datePublished | date:'yyyy-MM-dd HH:mm'}}</time>
        </span>
      </div>
    </article>

    <form name="replyForm" data-ng-show="isLoggedIn()">
      <fieldset>
        <legend>Vasta</legend>
          <pre>
            {{reply.text}}
          </pre>
        <div class="form-group">
          <label for="topicText">Sisu</label>
          <textarea id="topicText"
                    name="topicText"
                    class="form-control"
                    rows="10"
                    data-ng-model="reply.text"></textarea>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox">
            Anonüümus
          </label>
        </div>
        <button class="btn btn-primary" data-ng-click="addReply(reply)">
          Vasta
        </button>
      </fieldset>
    </form>
  </section>
</div>