<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <context:annotation-config />
  <context:component-scan base-package="ee.teoreteetik.tt" />
  <context:property-placeholder location="/WEB-INF/db.properties"/>
  
  <bean id="dataSource" class="${db.dataSourceClassName}">
  	<property name="serverName" value="${db.serverName}"/>
    <property name="portNumber" value="${db.portNumber}"/>
    <property name="databaseName" value="${db.databaseName}"/>
  	<property name="user" value="${db.user}"/>
  	<property name="password" value="${db.password}"/>
  </bean>   
    
  <bean class="com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON"/>
  <bean class="com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider" scope="singleton"/>
  <bean class="com.wordnik.swagger.jaxrs.listing.ResourceListingProvider" scope="singleton"/>
  <bean class="ee.teoreteetik.tt.rest.config.SwaggerConfigurer" init-method="init"/>   

  </beans>